{% load base_extras %}
<div id="topbar">
    <div class="navbar">
        <div class="navbar-side navbar-left">
        </div>
        <div class="navbar-content">
           {% comment %}    {% if user.is_authenticated %}  {% endif %}  {% endcomment  %}
            <a class="{% navactive request 'codes_toc' %}"
                href="{% url codes_toc %}">CA Codes</a>
            {% comment %}TODO: Remove the hardcoded CSS and pass styling through the View{% endcomment %}
            {% if code_fn %} &nbsp;&nbsp;>> &nbsp;&nbsp;<a class="" style="font-weight: bold"
                href="/laws/CODE-{{code_current}}">{{ code_fn }}</a>
           {% endif %}
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="{% navactive request 'search' %}" 
                href="{% url search %}">Search</a>
        </div>
        <div class="navbar-side navbar-right"></div>
    </div>
</div>

