{% load base_extras %}
<div id="topbar">
    <div class="navbar">
        <div class="navbar-side navbar-left">
        </div>
        <div class="navbar-content">
           {% comment %}    {% if user.is_authenticated %}  {% endif %}  {% endcomment  %}
            <a class="{% navactive request 'codes_toc' %}"
                href="{% url codes_toc %}">CA Codes</a>
            {% comment %}TODO: Remove the hardcoded CSS and pass styling through the View{% endcomment %}
            {% if code_fn %}
            &nbsp;&nbsp;>> &nbsp;&nbsp;
            <a class="" style="font-weight: bold" href="/laws/CODE-{{code_current}}">{{ code_fn }}</a>
            {% endif %}
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="{% navactive request 'search' %}" 
               href="{% url search %}">Search</a>
           {% comment %}TODO: Default to hide the 'parents' titlebar, replace with a button; Slide out using JQueryUI{% endcomment %}
          <span class="toggle_link" style="font-size: 80%;">
             <span class="hideable" id="Hide">&nbsp;&nbsp;&nbsp;&nbsp;Hide</span>
             <span class="hideable" id="Show" style="display: none">&nbsp;&nbsp;&nbsp;&nbsp;Show</span>
 <a href="javascript:;" onclick="$('#parents').toggle();$('#Hide').toggle();$('#Show').toggle();" title="Show/Hide full title">></a>
            </span>
 
                {% if parents %}
                    <span class="hideable" id="parents">
                    <br/> {{ parents }} <br/>
                    </span>
                {% endif %}
                        
        </div>
        <div class="navbar-side navbar-right"></div>
    </div>
</div>

