{% extends "base.html" %}
{% block search %}  
    {% include 'right_panel_search.html' %}
{% endblock search %}  
{% block content %}
<h2 style="text-align=center">California Legal Codes</h2>

<div class ="codes">
<a href = "/laws/target/CODE-bpc"> Business and Professions Code</a><br/>
<a href = "/laws/target/CODE-civ"> Civil Code</a><br/>
<a href = "/laws/target/CODE-ccp"> Code of Civil Procedure</a><br/>
<a href = "/laws/target/CODE-com"> Commercial Code</a><br/>
<a href = "/laws/target/CODE-corp"> Corporations Code</a><br/>
<a href = "/laws/target/CODE-edc"> Education Code</a><br/>
<a href = "/laws/target/CODE-elec"> Elections Code</a><br/>
<a href = "/laws/target/CODE-evid"> Evidence Code</a><br/>
<a href = "/laws/target/CODE-fam"> Family Code</a><br/>
<a href = "/laws/target/CODE-fin"> Financial Code</a><br/>
<a href = "/laws/target/CODE-fgc"> Fish and Game Code</a><br/>
<a href = "/laws/target/CODE-fac"> Food and Agricultural Code</a><br/>
<a href = "/laws/target/CODE-gov"> Government Code</a><br/>
<a href = "/laws/target/CODE-hnc"> Harbors and Navigation Code</a><br/>
<a href = "/laws/target/CODE-hsc"> Health and Safety Code</a><br/>
<a href = "/laws/target/CODE-ins"> Insurance Code</a><br/>
<a href = "/laws/target/CODE-lab"> Labor Code</a><br/>
<a href = "/laws/target/CODE-mvc"> Military and Veterans Code</a><br/>
<a href = "/laws/target/CODE-pen"> Penal Code</a><br/>
<a href = "/laws/target/CODE-prob"> Probate Code</a><br/>
<a href = "/laws/target/CODE-pcc"> Public Contract Code</a><br/>
<a href = "/laws/target/CODE-prc"> Public Resources Code</a><br/>
<a href = "/laws/target/CODE-puc"> Public Utilities Code</a><br/>
<a href = "/laws/target/CODE-rtc"> Revenue and Taxation Code</a><br/>
<a href = "/laws/target/CODE-shc"> Streets and Highways Code</a><br/>
<a href = "/laws/target/CODE-uic"> Unemployment Insurance Code</a><br/>
<a href = "/laws/target/CODE-veh"> Vehicle Code</a><br/>
<a href = "/laws/target/CODE-wat"> Water Code</a><br/>
<a href = "/laws/target/CODE-wic"> Welfare and Institutions Code</a><br/>
</div class = "codes">
{% endblock content %}
